.App {
  text-align: center;
}

.title {
  font-family: 'Londrina Outline', cursive;
  font-size: 1500%;
}

.login-btn {
  border: solid black 2px;
  background-color: rgba(0, 0, 0 ,0);
  font-family: 'Permanent Marker', cursive;
  color: black;
}
